# Scientific Python
## Central European University

## 04 Pandas, (Seaborn)

Instructor: Márton Pósfai, TA: --

Email: posfaim@ceu.edu

*Don't forget:* use the Slack channel for discussion, to ask questions, or to show solutions to exercises that are different from the ones provided in the notebook. [Slack channel](http://www.personal.ceu.edu/staff/Marton_Posfai/slack_forward.html)

## Pandas

[Intro video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=4aa0894d-686a-42d6-9f07-ab8a00d1e2bf)

Introduce and explore [pandas](http://pandas.pydata.org/), a library for tabular data manipulating and analysis that has implementations of common tasks making the following (and more) very straightforward:
- Reading in and cleaning tabular data
- Merging data from different sources
- Basic analysis and plotting

Pandas stands for **Pan**el **Da**ta (an expression borrowed from econometrics), it brings tools and ideas from Excel, R, and SQL to Python.

We'll have a look at the basic data structures: Series and Dataframes. Then we'll look at a dataset about the passengers of the Titanic.

## Part I: Pandas and its data structures

Traditionally everyone imports pandas as:

In [ ]:
import pandas as pd
# we will also use:
import numpy as np
import matplotlib.pyplot as plt

### Series

[Video.](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=0c046192-d9a5-4906-a275-acbd00fde38b)

Pandas has two primary data structures: series and dataframes. Series are similar to Python lists or NumPy vectors: they are one dimensional. 

We can create a series from a list:

In [ ]:
my_list = [3,2,1,34,5,3,2,3,100]
my_first_series = pd.Series(my_list)
my_first_series

When we create the series, notice that we also get a column with a number for each row. This is the index of the series and it contains a label for each row. 

You can access the values and the indices separately:

In [ ]:
S = my_first_series # just so I don't have to type that much

#access the values
print(S.values)
print(type(S.values))

#access indices
print(S.index)

The values are stored in a NumPy array.

By default the indices are integers starting from 0. But you can use a variety of data types:

In [ ]:
S1 = pd.Series([1.5,2.,3.],index=['A','B','C'])
S1

In [ ]:
S2 = pd.Series([1,2,3])
S2.index = [.5,.75,1.]
S2

### Accessing elements

There are three main ways access elements:
* By index using `S.loc[...]`
* By position using `S.iloc[...]`
* And using `S[]`
Let's look at these individually.

#### `loc`
With `S.loc[label]` you can access elements of `S` using the labels set as the index of the series, so this is kind of like indexing a dictionary:

In [ ]:
print(S1.loc['A'], S2.loc[.75], S.loc[0])

Unlike dictionaries, we can also use lists of labels:

In [ ]:
S1.loc[['A','C']]

The labels do not have to be in the original order:

In [ ]:
S2.loc[[1.,.5]]

In [ ]:
S.loc[[3,2,1]]

Note that in this last example the numbers are the labels, which just happen to be the same as the position of the rows in the original series `S`.

And you can also do slicing:

In [ ]:
S1.loc['B':'C'] # if using labels, the end label 'C' is also included

#### `iloc`

With `S.iloc[pos]` you can access elements based on their position, so this is kind of like the indexing of lists and arrays:

In [ ]:
print(S.iloc[0],S1.iloc[1],S2.iloc[2])

Again you can provide a list of positions:

In [ ]:
S1.iloc[[2,1,0]]

Or you can use slices:

In [ ]:
S2.iloc[0:2] # when using positions the final position, here 2, is not included

#### `[...]`

So what does `S[x]` return? Let's try it out:

In [ ]:
print(S1['A'],S1[0])
print(S2[.75],S1[1])

pandas guesses if it is a label or a position! But what happens both labels and positions are integers? Let's try it out, first let's create a series that has the position and label are both integers but in different order:

In [ ]:
S3 = S[::-1] #with this slice we reversed the order of rows
S3

In [ ]:
print(S3[0],S3[8])

This is based on label!

In [ ]:
S3[1:4]

Confusingly, slices are based on position.

Bottomline: when in doubt us `loc` and `iloc`.

### Exercise

Create a series with values that are integers from 1 to 5, and index labels that are the first five letters of the English alphabet. Then select every second row, try to do it as many ways as you can think of!

<details><summary><u>Hint</u></summary>
<p>

Try using slices and list of both positions and labels.
</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python

S = pd.Series(np.arange(1,6),index=['a','b','c','d','e'])
print(S[::2])
print(S.loc['a':'e':2])
print(S.loc[['a','c','e']])
print(S.iloc[[ i for i in range(0,5,2)]])

```
    
</p>
</details>

### Masking

[Video.](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=1e5bae96-d184-413a-a633-acbd01020c36)

We can also use masks the same way we did with NumPy arrays. A mask is a list or array of bools that has the same length as your series. Using it as an index will return elements where the mask is `True`.

In [ ]:
S = pd.Series([3,5,2,3],index=['A','B','C','D'])
mask = [True, False, True, False]
S[mask]

We can use this to filter rows based on the value of their elements, by create a mask using comparison operators such as `==`, `>`, or `>=`. For example

In [ ]:
just_threes_mask = (S == 3)
print(just_threes_mask)

Using this mask to filter rows that are equal to 3:

In [ ]:
S[just_threes_mask]

Or in one line:

In [ ]:
S[S==3]

### Exercise

Using masking, select rows of the following series such that values are larger than 5 but smaller than 10. You can use a list comprehension to create the mask, or even better try to use the elementwise logic and operator `&`: 

<details><summary><u>Hint</u></summary>
<p>

You can iterate over the values of a series in either of the following two ways:
```python
    
for x in S.values:
    ...
    
for x in S:
    ...
```
</p>
</details>

In [ ]:
S = pd.Series(range(20))

<details><summary><u>Solution.</u></summary>
<p>
    
```python
print(S[(S>5) & (S<10)])

mask = [x>5 and x<10 for x in S]
print(S[mask])
```
    
</p>
</details>

### Applying functions to series

[Video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=56629303-7ec5-491a-b6ed-acbd010662fb)

In most use cases, our series will contain only one data type, so let's look at examples like that.

In [ ]:
a = pd.Series([1.0, 2.0, 3.0])
b = pd.Series([1.0, 1.0, 1.0])

print(a)

Similarly to numpy, basic operations get applied to the series elementwise. For example, multiplying a series by 2, doubles each element:

In [ ]:
2*a

Or adding two series is calculated elementwise (elements are matched by label):

In [ ]:
a+b

We can even apply a numpy function to the enitre series:

In [ ]:
np.sin(a)

If we want apply a general function to the Series elemetwise we have to use the `apply` function. This is important, we will use it often to create new columns in tables.

The `apply()` function for series is the same as list comprehensions are for lists. Let's look at a few examples:

In [ ]:
L = [10,'apple',3.4,'hello']
new_list = [ type(x) for x in L]
print(new_list)

The same using series and `apply()`:

In [ ]:
S = pd.Series(L)
new_series = S.apply(type)
print(new_series)

We can define our own functions:

In [ ]:
#list
L = ["apple!","pear!","watermelon!"]
L2 = [x.replace("!","") for x in L]
print(L2)

#series
s = pd.Series(L)

def func(x):
    return x.replace("!","")

s2 = s.apply(func)
print(s2)

Or we can do the same thing with lambda functions:

In [ ]:
s = pd.Series(L)
s2 = s.apply(lambda x: x.replace("!",""))
print(s2)

### Exercise

Take the following list and list comprehension and
* Convert the list into a pandas series
* Use `apply()` to do the same operation as the list comprehension

In [ ]:
L = ["APPLE","PEAR","WATERMELON"]
L2 = [ x.lower()+"!" for x in L]

<details><summary><u>Solution.</u></summary>
<p>
    
```python
L = ["APPLE","PEAR","WATERMELON"]
L2 = [ x.lower()+"!" for x in L]

s= pd.Series(L)
s2 = s.apply(lambda x: x.lower()+"!")
print(s2)
```
    
</p>
</details>

### From dictionaries to series

[Video.](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=8a39629f-df2c-4b20-85b1-acbd010a3cbc)

So far we converted lists to create series, we can also use a python dictionaries.

Let's say that I have my ratings of my favorite actors in a dictionary and let's convert this into a series:

In [ ]:
#let's create a dict of the average movie ratings from 1 to 10 of actors.
actor_rating_dict = {'Nicolas Cage':3,'Robert Redford':5,'Julianne Moore':8,
                     'Jeff Bridges':7, 'Idris Elba':8,'Meryl Streep':9,
                     'Pam Grier':9, 'Dorottya Udvaros':7.5}
actor_rating_series = pd.Series(actor_rating_dict)
print(actor_rating_series)

Note the keys of the dictionary are mapped to index labels.

As we have seen before, we can now look up values based on index label or by position:

In [ ]:
#look up by index label
print(actor_rating_series['Idris Elba'])
#look up by index position
print(actor_rating_series[4])

### Dataframe

Look, I have another dictionary! This dictionary stores the number of movies I have seen with the actors in them:

In [ ]:
#creating another series: this time how many movies an actor has played in.
actor_frequency_dict = {'Nicolas Cage':20,'Robert Redford':6,
                        'Julianne Moore':10, 'Jeff Bridges':2,
                        'Idris Elba':14,'Mr. Bean':3,'Meryl Streep':7,
                        'Pam Grier':11,'Dorottya Udvaros':5}

actor_frequency_series = pd.Series(actor_frequency_dict)
actor_frequency_series

We can combine any number of series with the concat command,  what is returned is a dataframe.

In [ ]:
df = pd.concat([actor_rating_series, actor_frequency_series], axis=1, sort=True)
df

What does Mr. Bean's `NaN` mean? I have seen three movies with Mr. Bean, but for some reason I didn't rate him. If the `concat()` function encounters a key that is missing from one of the dictionaries, it substitutes the missing value with the special value `NaN`, which stands for not-a-number.

### Tiny exercise
What happens if we exclude `axis=1` from the concat command? Try it out!

We can rename the columns to have more descriptive labels:

In [ ]:
df.columns = ['Average_Rating','Number_of_Movies']
df

We can access columns by name, this returns a series:

In [ ]:
df['Number_of_Movies']

Or this is the same:

In [ ]:
df.Number_of_Movies

We can access elements by index label using `loc`:

In [ ]:
#element: [row_label,column_label]
print(df.loc['Mr. Bean','Number_of_Movies'])

Or we can access entire rows and columns:

In [ ]:
#row: [row_name]
print(df.loc['Mr. Bean'])
print(type(df.loc['Mr. Bean']))
print('-------------')

#column: [:,column_name]
print(df.loc[:,'Number_of_Movies'])
print(type(df.loc[:,'Number_of_Movies']))

The rows and colunms are returned as series objects.

Or we can do the same thing by position using `iloc`:

In [ ]:
#element
print(df.iloc[5,1])
print('-------------')

#row
print(df.iloc[5])
print('-------------')

#column
print(df.iloc[:,1])

You can also do slicing a la NumPy arrays.

In [ ]:
df.iloc[0:4,0:1] #the first slice is rows, the second is columns, just like in NumPy

This returns a dataframe.

You can also do masking. The most common way to use this, is to filter rows by creating a mask that has as many `True` or `False` values as the number of row. For example, to get all actors with rating larger than 6:

In [ ]:
df[df['Average_Rating']>6.]

### Dealing with missing values

[Video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=58cfe757-1aed-4d44-ba11-ab8a00dc9c7e)

A common task in data processing is to deal with missing data. For example, we don't have a rating for Mr. Bean. One possibility is that we make an educated guess, and say that Mr. Bean has the same rating as the average of everyone else:

In [ ]:
#df['Average_Rating'] returns a series corresponding to the column
#and series has a method to calculate its mean
avg = df['Average_Rating'].mean() 
print('Average of Average Rating = %g' % (avg))

#We can change the elements directly:
df.loc['Mr. Bean','Average_Rating'] = avg

df

This is such a common task, that pandas has a built in method to locate and replace `NaN` called `.fillna()`.

In [ ]:
# set Mr. Bean's average rating back to np.nan
df.loc['Mr. Bean','Average_Rating'] = np.nan

# override the Average_Rating column with a version that has the nan's replaced by the average
# of the non-nan entries.
df['Average_Rating'] = df['Average_Rating'].fillna(np.mean(df['Average_Rating']))
df

### Using apply() with a dataframe

[Video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=dd8d9677-fa4a-4493-9047-ab8a00e03354)

We seen before that you can get a column as a series, this way you use `apply()` like we did before. For example, we can create a series indicating our favorite actros: it will contain 1 if the rating of the actor is higher than 7 otherwise 0.

In [ ]:
favorites = df['Average_Rating'].apply(lambda x: 1 if x>7. else 0)
print(favorites)

And we can use this to create a new column:

In [ ]:
df['favorites']=favorites
df

However, we might want to use more than one column as input. For example, I would like to create a new column for that will indicate actors that I don't like, yet I've seen many times:

In [ ]:
#define a fuction that we will use with apply
def func(row):
    if row['Average_Rating']<=5 and row['Number_of_Movies']>=10:
        return 1
    else:
        return 0

love_to_hate = df.apply(func, axis=1)
df['love_to_hate'] = love_to_hate
df

The setting `axis=1` tells `apply()` to iterate through rows, `axis=0` iterates through columns. Take look:

In [ ]:
df.apply(np.mean, axis=0)

### Exercise

Create a new column `love_to_love` that contains a `1` for actors that have rating at least `7` and I have seen movies with them at least `10` times.

<details><summary><u>Solution.</u></summary>
<p>
    
```python
#define a fuction that we will use with apply
def func(row):
    if row['Average_Rating']>=7 and row['Number_of_Movies']>=10:
        return 1
    else:
        return 0

love_to_love= df.apply(func, axis=1)
df['love_to_love'] = love_to_love
df
```
    
</p>
</details>

### Plotting

Pandas has built in plotting to quickly take care of common plots. It sits 'on top of' matplotlib and so can be customized in the same way.

The pandas `plot()` function returns the matplotlib `Axes` object of the figure that it created. You can use this `Axes` to customize your figure.

Creating an automatically labelled bar chart is very simple:

In [ ]:
ax = df.plot(kind='bar', use_index=True, y='Average_Rating')
ax.set_title('Actor Number of Films vs Avg. Rating', size=15);

Or a histogram:

In [ ]:
ax=df.plot(kind='hist', y='Number_of_Movies', legend=True)

ax.set_title('Number of Movies Histogram');

So now we know the basics, let's do something more complex.

## Part II: Surviving the Titanic

[Video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=41bee325-1d33-4211-a829-ab8a00e2e714)

Pandas has great data manipulation abilities. Let's finally consider some real data first. First we are going to consider passenger data from the Titanic, which sunk on its maiden voyage. Of 2,224 passengers and crew, more than 1,500 died.

We have a data file containing data of some of the passengers, this is how it looks like (this will work on Linux or Mac, but not on Windows):

In [ ]:
!head titanic.csv

Reading from a csv in pandas is very easy! `read_csv` is very flexible: can take `txt`, plain files, and many more.

In [ ]:
df = pd.read_csv('titanic.csv', header=0, sep=',')

`header = 0` indicates that the first row is the header. In this case it is not necessary. `sep` is the column seperator, other common examples include tabs `\t`, white space, and `|`.

Note that pandas automatically guesses the datatype of each column and converts it appropriately. This usually works, but in some unusual cases it might fail, for example, phone numbers might be converted to numbers instead of kept as strings. In these cases the `dtype` argument can be used to specify the data type by hand.

How does are dataframe look like? We have too many rows to print out the whole table, but we can use the `head()` method to show only the first five rows:

In [ ]:
df.head()

Tail method reads the last five rows:

In [ ]:
df.tail()

### Some more information about the data:
- Pclass: passenger class. 
- SibSp: number of siblings+spouses aboard
- Parch: number of parents+children aboard
- Fare: cost of ticket
- Cabin: room ID, if passenger had a room
- Embarked: port of departure (C= Cherbourg; Q= Queenstown; S=Southampton)

### Let's check out a few data exploration techniques

Basic statistics are printed out by the `describe()` method for numeric columns.

In [ ]:
df.describe()

We can also visualize pairs of variables quickly. The `pd.plotting.scatter_matrix()` function creates a matrix of plots: the diagonals contain histograms, and the off-diagonal plots are scatter plots.

In [ ]:
pd.plotting.scatter_matrix(df[['Parch','Age','Fare']],figsize=(8,8));

Where `df[['Parch','Age','Fare']]` selects three columns.

###  Grouping

[Video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=c74c32a0-0766-4867-90e7-ab8a00e52015)

Pandas has powerful grouping methods that allows us to group entries based on a column value.

For example, we can ask the question does the average survival rate depend on the passengers ticket class? For this we group passengers based on the colunm `Pclass`, this creates three groups. Then we calculate the average survival rate for each group separetly by calculating the mean of the `Survived` column. (Remeber this column is 1 if the passenger survived, 0 if they died; therefore the mean is the survival rate!)

These steps are done easily with pandas:

In [ ]:
df.groupby('Pclass')['Survived'].mean()

### Exercise

What about "women and children first"? Does sex correlates with survival rate? Calculate the average survival rate for men and women separately!

<details><summary><u>Hint</u></summary>
<p>

Do the same thing as in the previous example, only this time group by `Sex` instead of `Pclass`.

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
df.groupby(['Sex'])['Survived'].mean()
```
    
</p>
</details>

We can do even more refined grouping. Let's combine the two: groupby both class and sex, and calculate the survival rates.

In [ ]:
survived_by_class_and_sex = df.groupby(['Pclass','Sex'])['Survived'].mean()
survived_by_class_and_sex

Let's plot these survival rates!

In [ ]:
survived_by_class_and_sex.unstack(1).plot(kind='bar', title='Survival Probability by Sex and Class');

### Exercise

In the previous example we used the `unstack()` method. What does this do to grouped data? Try `unstack(0)` and `unstack(1)` in the next cell, also try the plot without using `unstack()`. Explain what the the function does!

<details><summary><u>Hint</u></summary>
<p>

In addition to trying out plots, print out `survived_by_class_and_sex`, `survived_by_class_and_sex.unstack(0)`, and `survived_by_class_and_sex.unstack(1)`. What is their type? What are the indices?

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
The call `df.groupby(['Pclass','Sex'])['Survived'].mean()` returns a series object with [hierarchical indices](https://pandas.pydata.org/pandas-docs/stable/user_guide/advanced.html), where `Pclass` is the level 0 index and `Sex` is the subindex at level 1. The method `unstack()` transforms the 1 dimensional series with hierarchical indices to a 2 dimensional data frame where the column names and row names are the two levels of indices.

Try these lines in separate cells:

```python
survived_by_class_and_sex
survived_by_class_and_sex.unstack(1).plot(kind='bar', title='Survival Probability by Sex and Class')
survived_by_class_and_sex.unstack(1)
```
    
</p>
</details>

### Subsetting

As we mentioned before, filtering the data based on some condition is also simple. If you remember, this is similar to using boolean masks in NumPy.

We can subset the data to only include passengers below 30:

In [ ]:
under_30=df[df['Age']<30]
under_30.head()

### Exercise

Subset the data to only include passengers that payed less than average fare.

<details><summary><u>Hint</u></summary>
<p>

Calculate the mean fare using `df['Fare'].mean()`.

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
avg_fare = df['Fare'].mean()
print("The average fare is", round(avg_fare,3))
below_average_fare = df[df['Fare']<avg_fare]
below_average_fare.head()
```
    
</p>
</details>

We can do more complicated filtering using logical operators. (Remember `&`=and and `|`=or)

For example, to select the male passengers who got on the Titanic in France (Cherbourg is in France) we can write:

In [ ]:
males_from_france = df[(df['Embarked']=='C') & (df['Sex']=='male')]
males_from_france.head()

### New columns

We can also create new columns! Let's count the reverends on board.

First we define a helper function that takes a name as input and returns 1 if they are a reverend and 0 if they are a layman.

In [ ]:
def is_rev(input_name):
    # they are a reverend if their name contains the 'Rev.' title
    if 'Rev.' in input_name:
        return 1  
    else:
        return 0

To test the function, we can apply it elementwise to the `Name` column and count the number of reverends on board:

In [ ]:
sum(df['Name'].apply(is_rev))

To define a new column we can simply write:

In [ ]:
df['is_reverend'] = df['Name'].apply(is_rev)

#check the columns
df.columns

We can also use `apply()` for a function that that takes multiple columns as input. For example, we can count the number of revereneds that are older than 50:

In [ ]:
sum(df.apply(lambda row: 1 if 'Rev.' in row['Name'] and row['Age']>50 else 0, axis=1))

Note the attribute `axis=1`, this tells `apply()` to apply the function to each row, `axis=0` would apply it to each column.

### Exercise -- New column

Add a new column, fancy_title, by writing a function that checks the passenger name for a fancy title like "Master" or "Colonel" or "Count".

<details><summary><u>Hint</u></summary>
<p>

Look at the example where we added a new column to indicate reverends, we have to do the same here only this time you have to check if any of the possible titles appear in the `Name` column.

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
fancy_title = df['Name'].apply(lambda x: 1 if "Master" in x or "Colonel" in x or "Count" in x else 0)
df['fancy_title'] = fancy_title

family_on_board = df.apply(lambda x: 1 if x['SibSp']>0 or x['Parch']>0 else 0, axis=1)
df['family_on_board']=family_on_board
```
    
</p>
</details>

## Part III: Bikesharing with Pandas

[Video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=fd4f3a1a-5b98-4a17-be01-ab8b00d637a2)

Let's look at bike sharing data from Chicago. In Chicago there is a bike-sharing program just like Budapest's Bubi, called Divvy. We have two datasets (retrieved from https://www.divvybikes.com/system-data): one on trips and another on stations. We'll have to combine the two to explore how people use Divvy.

In [ ]:
trips = pd.read_csv('Divvy_Trips_2013.csv')

(Side note: Did you get a warning message? You can safely ignore it, everything will work in the notebook. You got it because one of the columns has a mixed datatype (string and NaN), which can be detrimental to the performance of pandas. To get rid of it, you can force the column to be string only by setting `dtype={'gender':'string'}` in the argument of the `read_csv` function.)

How many trips does our data set contain? In other words, how many rows are there in the dataframe?

In [ ]:
len(trips)

Let's take a look at what we have:

In [ ]:
trips.head()

Basic summary of data frame:

In [ ]:
trips.info()

### Column meanings:
- trip_id: trip identifier
- starttime: time bike was rented
- stoptime: time bike was returned
- bikeid: bike identifier
- trip duration: duration of the trip in seconds
- from_station_id: station id from which bike was borrowed
- from_station_name: station name from which bike was borrowed
- to_station_id: station id to which bike was returned
- to_station_name: sstation id to which bike was returned
- usertype: Customer or subscribers. Customers are one time users that pay for single trips, subscribers buy a monthly -pass with unlimited rides.
- gender: Gender, if known, of user
- birthyear: year of birth, if known, of user

We are going to continue with exploring the data.

### Heterogeneous trip durations

[Video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=734d14b0-992c-41e9-bc16-ab8b00d76ffc)

For example, let's plot the trip duration distribution.

In [ ]:
trips['tripduration'].plot(kind='hist',bins=50);

This is not too helpful, we have a few trips that are much longer than average. 
Let's create a new column with the logarithm of the tripduration and plot that.

We can use the `apply()`:

In [ ]:
trips['logduration']=trips['tripduration'].apply(np.log)

Or since `np.log()` is a numpy function, we can simply write:

In [ ]:
trips['logduration']=np.log(trips['tripduration'])

In [ ]:
ax=trips['logduration'].plot(kind='hist',bins=50,color='#9BCC31')
ax.set_xlabel('Log(trip duration)');

This looks better. What this means is that tripduration has a very wide distribution, which is closer to a lognormal than a normal.

### Most used bikes

Let's see which bike is on the road the longest: perhaps a good candidate for early retirement. The `bikeid` column uniquely identifies the bikes, to find all trips associated to each bike we can use the `groupby()` function:

In [ ]:
bike_usage = trips.groupby('bikeid')['tripduration'].sum().sort_values(ascending=False)

Let's unpack this line of code:
1. `groupby(bikeid)`: this creates a group for each individual bike
2. `['tripduration']`: pick the `tripduration` column
3. `sum()`: sum all trips for each bike, so we get a series containing the total usage and indexed by the bike IDs
4. `sort_values(ascending=False)`: sort in descending order so that the most used bike is in the first row

The most used bikes are in the first rows, we can print out the top 10 using `head()`

In [ ]:
bike_usage.head(10)

The least used bikes are at the end:

In [ ]:
bike_usage.tail(10)

We can also plot the distribution:

In [ ]:
ax = bike_usage.hist(bins=40,color='g');
ax.set_ylabel("count")
ax.set_xlabel("total usage");

### Exercise

Repeat the previous analysis, but instead of the total duration of usage, look at the total number of times the bikes were used. Do you get the same bikes in the top 10?

Previously we used the `sum()` function to aggregate the data for each bike, now you can use the `count()` function, which simply counts the number of elements in the group.

<details><summary><u>Hint</u></summary>
<p>
    
The only difference compared to the previous example is the `sum` versus `count`.

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
bike_usage2 = trips.groupby('bikeid')['tripduration'].count().sort_values(ascending=False)
ax = bike_usage2.hist(bins=40,color='g');
ax.set_ylabel("count")
ax.set_xlabel("total number of times used");
```
    
</p>
</details>

### Timestamps

[Video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=bc18a9de-d075-4d9f-9f7c-ab8b00d9ee84)

We can use the timestamps associated to each trip to investigate such questions as how usage depends on the time of the year, day of the week or part of the day.

How can we make use of these timestamps? First, let's see how the timestamps are currently stored.

In [ ]:
print(trips['starttime'][0])
print(type(trips['starttime'][0]))

Let's turn those time columns into pandas' timestamp objects, which are similar to python's datetime objects. It is a common task so pandas has a built in function for it:

In [ ]:
trips.starttime = pd.to_datetime(trips.starttime, format="%Y-%m-%d %H:%M")
trips.stoptime = pd.to_datetime(trips.stoptime, format="%Y-%m-%d %H:%M")

print(trips['starttime'][0])
print(type(trips['starttime'][0]))

(Side note: we can access a column by name two ways, `trips['starttime']` is the same as `trips.starttime`.)

Note about `to_datetime()`: if you don't pass a format pandas will try to guess it. It does a decent job, but takes slower and is risky. One can also pass `errors = "coerce"` and it will return `NaT` (Not a Time) values for those entries that don't fit into the format you give.

Now we can use these columns to plot stuff. For example, let's see the variation in duration by start time across the year. Plotting as a function of time has never been easier:

In [ ]:
ax = trips.plot(kind='line', x='starttime', y='tripduration', figsize=(14,5));

This is a mess, let's try to instead look at daily averages. Currently the timestamps have minute precision, let's create a column that only contains the day. For this, we can use the `date` method of timestamp objects. As a demonstration let's apply it to the first timestamp in the dataset:

In [ ]:
trips['starttime'][0].date()

We create a new column using `apply()`:

In [ ]:
trips['startdate']=trips['starttime'].apply(lambda dt: dt.date())

Now we group by the date and calculate the average:

In [ ]:
daily_avg_tripduration = trips.groupby('startdate')['tripduration'].mean()

This now a series that is indexed by the date and contains the average trip duration for each day:

In [ ]:
daily_avg_tripduration.head()

Let's plot this:

In [ ]:
ax = daily_avg_tripduration.plot(kind='line',figsize=(14,5));
ax.set_ylabel('Daily avg. trip duration')

We see two patterns:
* There is an overall decreasing trend: people go on shorter trips in the winter
* Usage is periodic
* Bonus question: can you guess why might we see that peak on the first day? (Hint: think of the shape of the distribution of the trip duration and sample sizes.)

Let's investigate the origin of the periodicity! Perhaps it is a weekly pattern?

### Exercise

Repeat the previous analysis, but instead of doing a daily average for each day, calculate the average for the days of the week, i.e., you will get seven datapoints, the average trip duration for each day of the week.
* Create a new column named `'dayofweek'` that contains the day of the week the trip started
* Group the trips based on this new column
* Plot the result

What did you find?

<details><summary><u>Hint</u></summary>
<p>

To get the day of the week using the `dayofweek` attribute of timestamps. Pay attention: this is not a function, there is no parenthesis at the end. For example, the day of week of the first timestamp is `trips.['starttime'][0].weekofday`.

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
trips['dayofweek']=trips['starttime'].apply(lambda dt: dt.dayofweek)
dayofweek_avg_tripduration = trips.groupby('dayofweek')['tripduration'].mean()
ax = dayofweek_avg_tripduration.plot(kind='line',figsize=(10,5));
ax.set_ylabel('average trip duration');
```
    
</p>
</details>

## pandas `merge`: adding station data

Recall that we also have information about stations in 'Divvy_Stations_2013.csv'. Let's have a look at this data and add it to our trips dataframe.

In [ ]:
stations = pd.read_csv('Divvy_Stations_2013.csv')

In [ ]:
print(len(stations))
stations.head()

So we have a much smaller dataframe with totally different rows. We want to join the stations dataframe to the trips dataframe so that we have lat/long/capacity data for each trips' starting and ending stations. The name column in the stations frame corresponds to the `from_station_name` and `to_station_name columns` in the trip frame. For this task we can use the [merge()](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.merge.html) function.

[Video](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=b3628637-bd80-47f6-8225-ab8b00dd9d62)

First, merge trips and stations for the starting stations. Let's unpack the following function call:
* `merge()` takes two dataframes `left` and `right`
* `how='left'` means that we take the `left` dataframe, in this case `trips`, and we add new columns to it based on the `right` dataframe, in this case `stations`. Therefore in the new dataframe we will have the same number of rows as in `trips`.
* `left_on='from_station_name'` and `right_on='name'`: `merge()` takes a rew in `left` looks at the `from_station_name` and looks for a match in the `right` dataframe.

In [ ]:
trips2 = pd.merge(left=trips, right=stations, how='left', left_on='from_station_name', right_on='name')

trips2[['trip_id',"starttime","from_station_name","to_station_name",'latitude','longitude']].head(3)

Now we have a dataframe that contains the trips + information about the starting station. For example, the `lattitude` column contains the lattitude of the starting station.

We also want to add the information about the destination stations. If we do the same as before, we would get duplicate column names, e.g., two `lattitude` columns. To avoid this `merge()` can add a suffix to the column names:

In [ ]:
#added a suffix list for duplicated names
trips_extended = pd.merge(trips2, stations, how='inner', left_on='to_station_name', right_on='name',
                    suffixes=['_origin', '_dest'])

We check the first three rows of the new dataframe:

In [ ]:
trips_extended.head(3)

Now we have a bunch of new data to work with!

### Exercise

What are the most popular routes? Create a dataframe called `station_to_station` that has a row for each station origin-destination pair and has columns:
* `from_station_name`
* `to_station_name`
* And a column containing the total number of trips between the two stations. (Bonus: rename this column `numtrips`.)
* Print out the top 10 station pairs

<details><summary><u>Hint 1.</u></summary>
<p>

Group `trips_extended` by two columns: `'from_station_name'` and `'to_station_name'`.

</p>
</details>

<details><summary><u>Hint 2.</u></summary>
<p>

To aggregate the data for each group use `count()`.

</p>
</details>


<details><summary><u>Hint 3.</u></summary>
<p>

You can rename columns using `df.rename(columns = {'old_col_name':'new_col_name'},inplace=True)`. For details look up the documentation!

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
station_to_station = trips_extended.groupby(['from_station_name','to_station_name'])['trip_id'].count().reset_index()
station_to_station.rename(columns = {'trip_id':'numtrips'},inplace=True)
station_to_station.sort_values('numtrips', ascending=False).head()
```
    
</p>
</details>

## Optional: Plotting with Seaborn
[Video.](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=2896342a-c826-4fef-8fa6-acc200ce5455)

Pandas plotting is simple but limited, matplotlib plotting is complicated but powerful. A library called [seaborn](https://seaborn.pydata.org/) is in the middle and it works very well with data in pandas. We will look at few things that we can do with it.

In [ ]:
import seaborn as sns
sns.set_style('ticks')# you can try other styles: white, dark...

(Why is seaborn imported as `sns`? [The West Wing.](https://en.wikipedia.org/wiki/Sam_Seaborn))

Do women and men use Divvy the same way? Let's take the figure that we made in the previous exercise, but separate the average trip duration for the two groups. We can use `groupby()` to group according to two columns by passing a list containing the names of the column to `groupby()` (we did something similar with the Titanic dataset)

In [ ]:
trips['dayofweek']=trips['starttime'].apply(lambda dt: dt.dayofweek) # in case you have skipped the previous exercise
dayofweek_gender_duration = trips.groupby(['dayofweek','gender'])['tripduration'].mean()

We get a series with hierarchical indices (`dayofweek` and `gender`):

In [ ]:
dayofweek_gender_duration.head()

For plotting we will need a dataframe. We can use `reset_index()` to convert the indices to regular columns and index the rows with integers instead:

In [ ]:
dayofweek_gender_duration = dayofweek_gender_duration.reset_index()
dayofweek_gender_duration.head()

As you can see, this is now a dataframe which is indexed by integers, and the previous index labels became regular columns `dayofweek` and `gender`.

We use seaborn to create a fancy plot! Let's use the `pointplot` function. If you pass the name of a column that contains a categorical value (e.g., `gender`) as the `hue` argument, the `pointplot` function will plot them as separate lines with different colors.

In [ ]:
ax=sns.pointplot(data=dayofweek_gender_duration,x='dayofweek',y='tripduration', hue='gender')
ax.set_ylabel('Average duration of trips [s]')
ax.set_title('Average trip duration per day user gender');
# Seaborn has a bunch of formatting options
# e.g., despine removes top and right sides of the frame
#sns.despine()
#sns.despine(trim=True,offset=10)

Similar to pandas' uses matplotlib to create the plots. And similar to pandas' `plot` function, seaborn's `pointplot` also returns the current `Axes`. You can use this `Axes` to further customize your plot directly using matplotlib.

So what do we see on the figure? It seems that men go on shorter duration trips, but their trip length increases more on weekends.

### Exercise

Our dataset also has a column named `usertype`, it differentiates between customer or subscribers. Customers are one time users that pay for single trips, subscribers buy a monthly pass with unlimited rides.

Do customers and subscribers behave differently? Repeat the above analysis for these categories. In addition to trip duration, compare total number of trips as well in a separate cell. What pattern do you see?

<details><summary><u>Hint</u></summary>
<p>

You can do exatly the same as before only:
* group by `usertype` instead of `gender`
* also repeat your plot for `count()` instead of `mean()`

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python

dayofweek_usertype_duration = trips.groupby(['dayofweek','usertype'])['tripduration'].count().reset_index()
ax=sns.pointplot(data=dayofweek_usertype_duration,x='dayofweek',y='tripduration', hue='usertype')
ax.set_ylabel('Number of trips')
ax.set_title('Number of trips per user type');
sns.despine()
```
    
</p>
</details>

We don't have to restrict ourselves to looking at the only at the daily average. Seaborn has a convinient way to plot distributions for different categories using `FacetGrid`. It creates a grid of plots where the rows and columns can represent a catergory each. Let's plot the logarithm of the tripduration for each day and the two usertypes.

(To show the histograms, we are going to use the [kernel density estimate](https://en.wikipedia.org/wiki/Kernel_density_estimation) plot of seaborn, which is basically a smoothed version of the raw histogram.)

In [ ]:
g = sns.FacetGrid(trips, col='dayofweek', row='usertype') #specify the grid
g.map(sns.kdeplot, 'logduration') #specify the type of plot, here: kernel density estimate

We can also use the color of the lines to represent a category:

In [ ]:
g = sns.FacetGrid(trips, col='dayofweek', hue='usertype', col_wrap=4) #col_wrap
g.map(sns.kdeplot, 'logduration') #specify the type of plot, here: kernel density estimate
g.add_legend(); #add legend

Therefore, using rows, columns, and hue we can represent three types of categories simultaneously.

[Video.](https://ceu.cloud.panopto.eu/Panopto/Pages/Viewer.aspx?id=bb03d79f-e724-4060-9b54-acc200d33de6)

This figure looks okay, but we can make this better. Uncomment the lines one-by-one in the next cell to see how we format the figure.

In [ ]:
#sns.set_style("white", {"axes.facecolor": (1.,1.,1.,0.)}) # changes the face to transparent globally
#not only this figure
pal = sns.cubehelix_palette(7, start=2.8, rot=.75, light=.7) # define a new color palette
g = sns.FacetGrid(trips, row='dayofweek',col='usertype',
                  #hue='dayofweek', # color the rows differently
                  #aspect=6, #aspect ratio of subplots
                  #height=1., #height of subplots 
                  #margin_titles=True, #indicate categories at the top and end of columns and rows
                  #palette=pal #use new palette
                 )
g.map(sns.kdeplot, 'logduration',
      #shade=True, #color area under the curve
      #alpha=.5,   # make color semitransparent
      linewidth=1.5 
     ) 

#g.set_titles(row_template = '                        ', col_template = '{col_name}') #change how categories are printed
# the spaces are needed because of a bug in the windows version of seaborn 
#g.add_legend(); #add legend to indicate the days instead of row labels

#g.set(xlim=(4,10)) # set the range of x displayed to focus on the bulk of the distribution
#g.set(xticks=[np.log(100),np.log(1000),np.log(10000)]) #change location of ticks
#g.set(xticklabels=['log(100)','log(1000)','log(10000)']) #and labels to be more informative


#g.fig.subplots_adjust(hspace=-.5) #make subplots overlap

# remove axes details that don't play well with overlap
#g.set(yticks=[]) # remove y axis and its trappings
#the y axis is shared so we can still compare the shape of the distributions
#g.despine(bottom=True, left=True)

I am not sure if this looks good or just unusual, but at least we demonstrated some formatting options. Check out the [gallery of examples](https://seaborn.pydata.org/examples/index.html) and the [tutorials](https://seaborn.pydata.org/tutorial.html) to get inspired.

To color the plots above we used a [cubehelix palette](https://seaborn.pydata.org/generated/seaborn.cubehelix_palette.html). This is great palette to use for heat maps too, because the intensity of the color monotonically changes through the palette, meaning that it prints well on black-and-white printers, and even people with any type of colorblindness are able to read it. For more details check out this [blog post](https://ifweassume.blogspot.com/2013/05/cubehelix-or-how-i-learned-to-love.html).

### Distance between stations

Our dataset does not contain information about the trip length, but we do have the latitude and longitude coordinates of the stations. This allows us to calculate the distance between the origin and destination stations, but note that this is not the distance you have to travel on the road, but distance as the crow flies.

To do this we have to recall an old favorite: the [haversine formula](https://en.wikipedia.org/wiki/Haversine_formula) which takes a pair of latitude-longitude coordinates and returns their distance in kilometeres:

In [ ]:
import math
def latlongdist(lat1,long1,lat2,long2):
    rlat1 = math.radians(lat1)
    rlat2 = math.radians(lat2)
    rlong1 = math.radians(long1)
    rlong2 = math.radians(long2)
    dlat = rlat2 - rlat1
    dlong = rlong2 - rlong1
    a = math.sin(dlat / 2)**2 + math.cos(rlat1) * math.cos(rlat2) * math.sin(dlong / 2)**2
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    return 6371.0 * c

print(latlongdist(48.105625, 20.790556, 46.07308, 18.22857))

Let's create a new column for the `trips_extended` dataframe that contains the distance using the `apply()` method of the dataframe. Remember in this case the function that we apply has to take the entire row as an input (see previous class, if you don't remember). However, `latlongdist(lat1,long1,lat2,long2)` takes four floats as an input and not the row. How can we solve this? With a lambda function of course!

In [ ]:
trips_extended['dist']=trips_extended.apply(lambda row: 
                                            latlongdist(row['latitude_origin'],
                                                        row['longitude_origin'],
                                                        row['latitude_dest'],
                                                        row['longitude_dest']),
                                           axis=1)

The above lambda function takes a row of the dataframe as input, selects the coordinates and calles the `latlongdist` function.

Reminder: `axis=1` indicates that we apply the function to each row, `axis=0` would mean applying the function to each column.

Now we let's investigate the new `dist` column!

### Exercise

Make a histogram of the distances between origin and destination stations using pandas' plotting capability. Try different number of bins. Try to set the y axis to logarithmic scale using `ax.set_yscale('log')`. What kind of patterns do you see?

<details><summary><u>Hint.</u></summary>
<p>

To set the y axis to logarithmic scale you have to grab the current `Axes` object. Luckily it is returned by pandas' plot function, so you can write:
```python
ax=trips_extended['dist'].plot(...)
```

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
ax=trips_extended['dist'].plot(kind='hist',bins=200)
#ax.set_yscale('log')
```
Looking at the histogram with enough bins it becomes apparent that there is large a peak at zero. This corresponds to trips where the user returned the bike to the same station where they got it from; therefore the origin and destination station is the same.
    
If we chang the y axis to logarithmic scale, the tail of the distribution becomes a straight line, indicating that the tail decays as an exponential function. The distance distribution is not as heterogeneous as the trip duration distribution.

</p>
</details>

It is reasonable to assume that there is a correlation between station distance and trip duration: the larger the distance the more time is needed for the trip. We could use pandas' for plotting but let's do something more fancy and use seaborn.

What is a good plot to visualize the hypothesised correlation? A scatter plot is probably not a good idea, since there are >700,000 trips which would create too many markers. A two dimensional histogram is a better option.

We use the `jointplot` function of seaborn which allows to show both the relation between two columns and their marginal distribution:

In [ ]:
g = sns.jointplot(
    data=trips_extended,
    x="logduration", y="dist",
    kind="hex",
    xlim=(4,9),
    ylim=(0,8)
)

Seaborn has several plotting options to visualize the relation of two variables, we chose `hex` which is a two dimensional histogram with hexagonal bins. We also set the range of the plot on the x and y axes using `xlim` and `ylim` to focus on the bulk of the distributions (try commenting out those lines). See further plotting options [here](https://seaborn.pydata.org/generated/seaborn.jointplot.html#seaborn.jointplot).

So what do we see on the plot? There is a positive correlation as we expected and it seems to be nonlinear. (Remember, we are comparing the logarithm of the trip duration to as-the-crow-flies distance, there is no real reason to expect the correlation to be linear.) An apparent outlier is the zero distance, there are very long trips where the bikes are returned to the origin station.

Let's further investigate! If we use `kind=kde` (aka kernel density estimate) instead of `hex`, we can add an additional dimension to the plot: the color of the contours is used to indicate categories. For example, we can compare the occassional customers to subscribers by setting `hue="usertype".

(Before you run the next cell: calculating the kde for 700,000 datapoints takes a few minutes. If you don't have that time or you would like to experiment with the plotting options, select a subset of rows for quicker results.)

In [ ]:
g = sns.jointplot(
    data=trips_extended,#[:10000],#apply this slice for quicker plotting
    x="logduration", y="dist", hue="usertype",
    kind="kde",
    xlim=(4,9),
    ylim=(0,8),
    marginal_kws={'fill':True,'alpha':.5}
)

We used the `marginal_kws` to pass on additional formatting settings as a dictionary to the marginal plots: we colored the area under the curves and set them to be transparent.

### Exercise

Does the `logduration` distribution depend whether it is a weekend or a weekday? Does it depend on gender? Does it depend if the bike was returned to the same station? Answer these questions doing the following steps:
* Create a column indicating if the trip was on a weekend.
* Create a column indicating that the bike was returned to the same station.
* Create a facet grid using seaborn where rows indicate gender, columns indicate whether the trips starts and ends at the same station, and hue indicates weekend or weekday.

<details><summary><u>Hint.</u></summary>
<p>

You can create the new columns with
```python
trips_extended['weekend']=trips_extended['dayofweek']>4 #5: Saturday, 6: Sunday
trips_extended['samestation']=trips_extended['from_station_id']==trips_extended['to_station_id']
```

</p>
</details>

<details><summary><u>Solution.</u></summary>
<p>
    
```python
trips_extended['weekend']=trips_extended['dayofweek']>4 #5: Saturday, 6: Sunday
trips_extended['samestation']=trips_extended['from_station_id']==trips_extended['to_station_id']

g = sns.FacetGrid(trips_extended, row='gender',hue='weekend',col='samestation',
                  sharex=True,
                  sharey=True,
                  aspect=2, 
                  height=2., 
                  margin_titles=True,
                 ) #specify the grid
g.map(sns.kdeplot, 'logduration', linewidth=1.5) #specify the type of plot, here: kernel density estimate

g.set(xlim=(3,10))
g.set(xticks=[np.log(10),np.log(100),np.log(1000),np.log(10000)])
g.set(xticklabels=['log(10)','log(100)','log(1000)','log(10000)'])
g.add_legend(); #add legend
```

</p>
</details>